
<h2 mat-dialog-title>Öffnungszeiten ändern</h2>
<p>Für geschlossene Tage Felder frei lassen.</p>
<div class="edit-oh-table">
  <table>
    <tr *ngFor="let ohday of oHweek">
      <td [ngSwitch]="ohday.day">
        <h5>
          <div *ngSwitchCase="'MONDAY'">Montag: </div>
          <div *ngSwitchCase="'TUESDAY'">Dienstag: </div>
          <div *ngSwitchCase="'WEDNESDAY'">Mittwoch: </div>
          <div *ngSwitchCase="'THURSDAY'">Donnerstag: </div>
          <div *ngSwitchCase="'FRIDAY'">Freitag: </div>
          <div *ngSwitchCase="'SATURDAY'">Samstag: </div>
          <div *ngSwitchCase="'SUNDAY'">Sonntag: </div>
        </h5>
      </td>
      <td>
        <mat-form-field class="time-from-field">
          <input
            aria-label="24hr format" 
            maxlength="10" 
            [ngxTimepicker]="picker1"
            [format]=24 
            matInput #input placeholder="Von:"
            [(ngModel)]= "ohday.from">
          <ngx-material-timepicker #picker1></ngx-material-timepicker>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="time-form-field">
          <input
            aria-label="24hr format" 
            maxlength="10" 
            [ngxTimepicker]="picker2" 
            [format]=24 
            matInput #input placeholder="Bis:"
            [(ngModel)]= "ohday.to">
          <ngx-material-timepicker #picker2></ngx-material-timepicker>
        </mat-form-field>
      </td>
    </tr>
  </table>   
</div>
<div class="buttons">
<button (click)="cancel()" mat-button>Cancel</button>
<button (click)="save()" id="Save" mat-raised-button color="primary">Save</button>
</div>