
<h2 mat-dialog-title>Öffnungszeiten ändern</h2>

<mat-form-field>
  <mat-select placeholder="Tag auswählen">
    <mat-option value="option">Montag</mat-option>
    <mat-option value="option">Dienstag</mat-option>
    <mat-option value="option">Mittwoch</mat-option>
    <mat-option value="option">Donnerstag</mat-option>
    <mat-option value="option">Freitag</mat-option>
    <mat-option value="option">Samstag</mat-option>
    <mat-option value="option">Sonntag</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field hintLabel="Uhrzeit-Format: hh:mm">
  <input [(ngModel)]="from" aria-label="24hr format" [ngxTimepicker]="picker" [format]="24" matInput #input placeholder="Von:">
  <ngx-material-timepicker #picker></ngx-material-timepicker>
</mat-form-field>
<mat-form-field hintLabel="Uhrzeit-Format: hh:mm">
  <input [(ngModel)]="until" [ngxTimepicker]="picker2" [format]="24" matInput #input placeholder="Bis:">
  <ngx-material-timepicker #picker2></ngx-material-timepicker>
</mat-form-field>
<br>
<button (click)="julianStinks()" id="Save" mat-raised-button color="primary">Save</button>