<app-main-nav>
<body>
    <mat-toolbar color="primary">
        <span>ATIS IOSB</span>
   </mat-toolbar>
<div id="container">

  <h1>Layout Editor</h1>

  <div class="container">
      
      <div>
          <mat-form-field appearance="outline">
              <mat-select placeholder="ID von Layout wählen" [(value)]="layoutToLoadID">
                  <mat-option value="1">Default Layout</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                  <mat-option value="6">6</mat-option>
                  <mat-option value="7">7</mat-option>
                  <mat-option value="8">8</mat-option>
                  <mat-option value="9">9</mat-option>
                  <mat-option value="10">10</mat-option>
              </mat-select>
          </mat-form-field>
          <button (click)="loadExistedLayout();">Layout laden</button>
      </div>

      <!-- Form to adjust layout's width and height -->
      <div id="layoutParameter">
          <h3> Kenngröße des Layouts </h3>
          Breite: <input placeholder="width"  [(ngModel)]="layoutWidth" />
          Höhe: <input placeholder="height"  [(ngModel)]="layoutHeight" />
          <button (click)="createGridLayout();">Erstellen</button>
      </div>

      <!-- Layout -->
      <div id="layout">
      </div>

      <!-- Save button -->
      <div class="row justify-content-center" *ngIf="show">
       <div class="col-4">
          <mat-form-field appearance="outline">
              <mat-select placeholder="ID von Layout wählen" [(value)]="layoutToSaveID">
                  <mat-option value="1">Default Layout</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                  <mat-option value="6">6</mat-option>
                  <mat-option value="7">7</mat-option>
                  <mat-option value="8">8</mat-option>
                  <mat-option value="9">9</mat-option>
                  <mat-option value="10">10</mat-option>
              </mat-select>
          </mat-form-field>
         <button class="btn btn-primary"  (click)="save();">Save</button>
       </div>
     </div>

     <!-- Element which is added to the layout -->
      <div id="element">
          <h3> Kenngröße des Elements </h3>
          Breite: <input placeholder="width"  [(ngModel)]="elementWidth" />
          Höhe: <input placeholder="height"  [(ngModel)]="elementHeight" />
          <select [(ngModel)]="elementType" id="category">
           <option value="" disabled selected>Wähle</option>
           <option *ngFor="let elementType of elementTypes" [value]="elementType">{{elementType}}</option>
         </select>
          <button (click)="createElement();">Erstellen</button>

          <div class="row">
            <div id="element0" appDraggable
              (dragStart)="onDragStart($event)" (dragMove)="onDragMove($event)" (dragEnd)="onDragEnd($event, srcElement)">
            </div>
            <div id="element1" appDraggable
              (dragStart)="onDragStart($event)" (dragMove)="onDragMove($event)" (dragEnd)="onDragEnd($event, srcElement)">
            </div>
            <div id="element2" appDraggable
              (dragStart)="onDragStart($event)" (dragMove)="onDragMove($event)" (dragEnd)="onDragEnd($event, srcElement)">
            </div>
            <div id="element3" appDraggable
              (dragStart)="onDragStart($event)" (dragMove)="onDragMove($event)" (dragEnd)="onDragEnd($event, srcElement)">
            </div>
            <div id="element4" appDraggable
              (dragStart)="onDragStart($event)" (dragMove)="onDragMove($event)" (dragEnd)="onDragEnd($event, srcElement)">
            </div>
            <div id="element5" appDraggable
              (dragStart)="onDragStart($event)" (dragMove)="onDragMove($event)" (dragEnd)="onDragEnd($event, srcElement)">
            </div>
            <div id="element6" appDraggable
              (dragStart)="onDragStart($event)" (dragMove)="onDragMove($event)" (dragEnd)="onDragEnd($event, srcElement)">
            </div>
            <div id="element7" appDraggable
              (dragStart)="onDragStart($event)" (dragMove)="onDragMove($event)" (dragEnd)="onDragEnd($event, srcElement)">
            </div>
            <div id="element8" appDraggable
              (dragStart)="onDragStart($event)" (dragMove)="onDragMove($event)" (dragEnd)="onDragEnd($event, srcElement)">
            </div>
            <div id="element9" appDraggable
              (dragStart)="onDragStart($event)" (dragMove)="onDragMove($event)" (dragEnd)="onDragEnd($event, srcElement)">
            </div>
          </div>
      </div>

    </div>
</div>
</body>
</app-main-nav>
