<app-main-nav>
<body>
    <mat-toolbar color="primary">
        <span>ATIS App</span>
   </mat-toolbar>
<div id="container">

  <h2>Layout Editor</h2>

  <div class="container">

      <!-- Form to adjust layout's width and height -->
      <div id="layoutParameter">
          <h4> Neues Layout erstellen </h4>
          <mat-form-field>
            <input  matInput placeholder="Breite"  [(ngModel)]="layoutWidth" />
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Höhe"  [(ngModel)]="layoutHeight" />
          </mat-form-field>
          <button class='create' mat-raised-button color='primary' (click)="createGridLayout();">Erstellen</button>
          <mat-form-field>
            <mat-select placeholder="Layout-ID wählen" [(value)]="layoutToLoadID">
                <mat-option [value]="1">Default Layout</mat-option>
                <mat-option value="2">2</mat-option>
                <mat-option value="3">3</mat-option>
                <mat-option value="4">4</mat-option>
                <mat-option value="5">5</mat-option>
                <mat-option value="6">6</mat-option>
                <mat-option value="7">7</mat-option>
                <mat-option value="8">8</mat-option>
                <mat-option value="9">9</mat-option>
                <mat-option value="10">10</mat-option>
            </mat-select>
        </mat-form-field>
        <button id="load" mat-raised-button color='primary' (click)="loadExistedLayout();">Layout laden</button>
      </div>

      <!-- Element which is added to the layout -->
      <div id="element" *ngIf="show">
          <h4> Neuen Elementtyp erstellen </h4>
          <mat-form-field>
              <input  matInput placeholder="Breite"  [(ngModel)]="elementWidth" />
          </mat-form-field>
          <mat-form-field>
              <input matInput placeholder="Höhe"  [(ngModel)]="elementHeight" />
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Typ" select [(value)]="elementType" id="category">
              <mat-option *ngFor="let elementType of elementTypes" [value]="elementType">{{elementType}}</mat-option>
            </mat-select>
          </mat-form-field>
          <button class='create' mat-raised-button color='primary' (click)="createElement();">Erstellen</button>

          <div class="row">
            <div id="element0" appDraggable
              (dragStart)="onDragStart($event)" (dragMove)="onDragMove($event)" (dragEnd)="onDragEnd($event, srcElement)">
            </div>
            <div id="element1" appDraggable
              (dragStart)="onDragStart($event)" (dragMove)="onDragMove($event)" (dragEnd)="onDragEnd($event, srcElement)">
            </div>
            <div id="element2" appDraggable
              (dragStart)="onDragStart($event)" (dragMove)="onDragMove($event)" (dragEnd)="onDragEnd($event, srcElement)">
            </div>
            <div id="element3" appDraggable
              (dragStart)="onDragStart($event)" (dragMove)="onDragMove($event)" (dragEnd)="onDragEnd($event, srcElement)">
            </div>
            <div id="element4" appDraggable
              (dragStart)="onDragStart($event)" (dragMove)="onDragMove($event)" (dragEnd)="onDragEnd($event, srcElement)">
            </div>
            <div id="element5" appDraggable
              (dragStart)="onDragStart($event)" (dragMove)="onDragMove($event)" (dragEnd)="onDragEnd($event, srcElement)">
            </div>
            <div id="element6" appDraggable
              (dragStart)="onDragStart($event)" (dragMove)="onDragMove($event)" (dragEnd)="onDragEnd($event, srcElement)">
            </div>
            <div id="element7" appDraggable
              (dragStart)="onDragStart($event)" (dragMove)="onDragMove($event)" (dragEnd)="onDragEnd($event, srcElement)">
            </div>
            <div id="element8" appDraggable
              (dragStart)="onDragStart($event)" (dragMove)="onDragMove($event)" (dragEnd)="onDragEnd($event, srcElement)">
            </div>
            <div id="element9" appDraggable
              (dragStart)="onDragStart($event)" (dragMove)="onDragMove($event)" (dragEnd)="onDragEnd($event, srcElement)">
            </div>
          </div>
      </div>

      <!-- Layout -->
      <div id="layout">
      </div>

      <!-- Save button -->
      <div class="row justify-content-center" *ngIf="show">
       <div class="col-4">
          <mat-form-field>
              <mat-select placeholder="Layout-ID wählen" [(value)]="layoutToSaveID">
                  <mat-option value="1">Default Layout</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                  <mat-option value="4">4</mat-option>
                  <mat-option value="5">5</mat-option>
                  <mat-option value="6">6</mat-option>
                  <mat-option value="7">7</mat-option>
                  <mat-option value="8">8</mat-option>
                  <mat-option value="9">9</mat-option>
                  <mat-option value="10">10</mat-option>
              </mat-select>
          </mat-form-field>
         <button mat-raised-button color='primary'  (click)="save();">Speichern</button>
       </div>
     </div>

    </div>
</div>
</body>
</app-main-nav>
